<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />
<div class="popular-location section-padding30">
<div class="container">
     <div class="row" style="margin-top:10px">
         <div class="col-xs-9 col col-xs-offset-3">
             <img class="img-responsive" src="/image/hours.png"/>
         </div>
     </div>
</div>
</div>
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
